.example-button-row button {
    width: 200px;
    margin: 8px 8px 8px 5px;
    padding: 2px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif !important;
}

.orangeRed {
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(155, 156, 253);
    background: #F2A07B;
}

.skyBlue {
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(155, 156, 253);
    background: #59cc42;
}
