.example-button-row button {
    width: 230px;
    margin: 8px 8px 8px 5px;
    padding: 2px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif !important;
}

.mediumYellow {
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(155, 156, 253);
    background: #FFD717;
}

.greenTeal {
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(155, 156, 253);
    background: #62A388;
}
